@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    font-family: 'poppins', sans-serif;
    
}

main, section,.testhrgal{
    background-color: #f4f7ff;
}

footer{
    background-color: #f8f9fa !important;
    
}

#featureimg img{
    margin: 12px;
}

#featurednews{
    justify-content: center;
}
.card{
    margin: 12px;
}

#featuredpromo{
    background-image: url("../assets/featuredpromo.jpg");
    background-size: cover;
    height: 25rem;
    color: white;
}

#featuredpromo2{
    background-image: url("../assets/newslider1.jpg");
    background-size: cover;
    height: 19rem;
    color: white;
    /* padding: 6rem; */
}

#featuredpromo3{
    background-image: url("../assets/subscription1.jpg");
    background-size: cover;
    height: 25.5rem;
    color: white;
    /* padding: 6rem; */
}




#featuredpromo .container{
    padding: 2px;
    margin-top: 3rem;
}

#navbarright{
    padding: 15px;
}

#navbarright a{
    margin: 10px;
}




main .container .gamelist img{
    height: 300px;
    width: 450px;
    
}

main .category{
    background-color: lavender;
}


main .text-light{
    color: white !important;
}

main .container #colortagnews{
    color: #ff4747
}

main #listsubs{
    text-decoration: none;
    height: 20vh;
}

main #listsubs li{
    list-style: none;
    padding: 7px;
}

main .container .row .listsubs{
    padding: 10px;
    margin: 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    height: 28rem;
}

main .container .row .listsubs hr{
    width: 70%;
}

main .container .row .listsubs .below{
    width: 30% !important;
    height: 1.5%;
    border:none;
    border-radius: 10px;
    background: #23b1cc;
}



main .container .row .listsubs .buttonsubs{
    background-color: #09bdd9;
    color: white;
    padding: 8px 20px 8px 20px;
    border: none;
}

/* .listgamecateg img {
    width: 300px;
    height: 300px;
} */

main .listgamecateg p {
    padding: 5px;
    margin: 2px;
}

main.listgamecateg{
    padding: 20px;
}
.judul {
    font-size: 40px;
    
}


/* testimonial page */



main .testimonials .below2{
    width: 30%;
    height: 100%;
    /* border:none; */
    border-radius: 10px;
    background: #23b1cc;
}

/* main .container .row .below{
    width: 30% !important;
    height: 1.5%;
    border:none;
    border-radius: 10px;
    background: #23b1cc;
} */

main .testimonials .row{
    margin-top: 3%;
}
main .testimonials .listimgtesti {
    width: 100px;
   
}



main .testimonials .card-body{
    margin: 5%;
    padding: 2%;
    
}

main .testimonials h5{
    padding: 20px;
}

main .testimonials .card-body p{
    margin-top: 3%;
}

main .testimonials .card{
    border-radius: 10px;
}


main .testimoni2 .quotetesti{
    flex-direction: column;
}
.testimoni2{
    padding: 5%;
}

main .testimonials .buttontesti{
    background: #1d2b53;
    color: white;
    padding: 8px;
    width: 12%;
}

/* categorypage */

main .d-inline .row{
   margin: 10px; 
   padding: 10px;

}

main .category{
    margin: 30px;
    /* padding-right: 30px; */
}

#navcategory{
    height: 10vh;
    
}


.testhr2{
    width: 100%;
    border: 1px solid lightgray ;
    border-radius: 1px;
    
}

#navcategory a:first-of-type{
    border-left: 1px solid gray;
}
#navcategory a{
    padding: 20px;
    width: 19vh;
    justify-content: space-between;
    border-right: 1px solid gray;
}



#navcategory a:hover{
    background: lightslategray;
}


/* fpscategory */

main #categorypergame{
    /* padding: 20px; */
    padding: 20px;
}



